* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#text-container {
    background-color: #D3D3D3;
    font-size: 1.5rem;
    padding: 4rem;
}

.text-1 {
    margin-bottom: 20px;
}

#form-section {
    box-shadow: 10px #000;
}

.form-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-container {
    padding: 4rem;
}

.form-group {
    display: flex;
    flex-direction: column;

}
